{% extends 'base.html' %}
    {% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}" />
    {% endblock %}
    {% block title %}
    Detail!
    {% endblock %}
    {% block content %}
    <div class="detail-post_container">
        <div class="detail_title">제목: {{post.title}}</div>
        <div class="detail_content">내용: {{post.content}}</div>
        <!--
            코멘트를 다 가져올거면 post.comment까지만 하는 것이 아니라, post.comment.all까지 해줘야 함!

        -->
        {% for comment in post.comments.all %}
        <li>{{comment.content}} <a href={% url 'delete-comment' post.pk comment.pk %}>삭제</a></li>
        
        {% endfor %}
        <div class="detail-post_btn">
            <a href="{% url 'home' %}">홈 화면</a>
            <a href="{% url 'edit' post.pk %}">수정하기</a>
            <a href="{% url 'delete' post.pk %}">삭제하기</a>

            <form method="POST" style="margin-top: 30px">
                {% csrf_token %}
                <input
                    type="text"
                    name="content"
                    placeholder="댓글을 입력해주세요"
                />
                <button type="submit">작성하기</button>
            </form>
        </div>
    </div>
    {% endblock %}



