<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Article List</title>
    </head>
    <body>
        <h2>글 전체 목록</h2>
        <ul>
            {% for article in articles %}
            <li>
                <a href="detail/{{ article.pk }}">{{ article.title }}</a>
            </li>
        
            {% endfor %}
        </ul>
        <a href="{% url 'new' %}">새로운 글쓰기</a>
    </body>
</html>
