<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>New Document</title>
    </head>
    <body>
        <h2>글쓰기 페이지</h2>
        <form action="/new" method="post">{% csrf_token%}
        <div>
            <div>독후감 제목</div>
            <input type="text" name="title" />
        </div>
        <div>
            <div>독후감 내용</div>
            <textarea name="content" cols="30" rows="10"></textarea>
        </div>
        <button type="submit">작성완료</button>
    </body>
</html>
