/* .innerBox {
  width: 100px;
  height: 100px;
  background-color: grey;
  position: absolute;
  border-radius: 20px;
  top: 50px;
  left: 50px;
}

.outerBox {
  width: 200px;
  height: 200px;
  background-color: tomato;
  position: relative;
  border-radius: 20px;
}

.outerBox:hover{
  
} */

.outerBox {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerBox {
  width: 100px;
  height: 100px;
  background-color: darkblue;
  transition: transform 0.5s ease;
}

.outerBox:hover .innerBox {
  transform: rotate(45deg);
}